@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
    --color-sonolus-main: rgba(0, 0, 32, 1);
    --color-sonolus-alternative-0: rgba(13, 0, 31, 1);
    --color-sonolus-alternative-1: rgba(0, 17, 29, 1);
    --color-sonolus-glow: rgba(255, 255, 255, 1);
    --color-sonolus-ui-surface: rgba(0, 0, 0, 1);
    --color-sonolus-ui-text-normal: rgba(255, 255, 255, 1);
    --color-sonolus-ui-text-soften: rgba(255, 255, 255, 0.75);
    --color-sonolus-ui-text-disabled: rgba(255, 255, 255, 0.25);
    --color-sonolus-ui-button-normal: rgba(255, 255, 255, 0.125);
    --color-sonolus-ui-button-highlighted: rgba(255, 255, 255, 0.25);
    --color-sonolus-ui-button-pressed: rgba(255, 255, 255, 0.0625);
    --color-sonolus-ui-button-disabled: rgba(255, 255, 255, 0.03125);
    --color-sonolus-success: rgba(72, 199, 142, 1);
    --color-sonolus-warning: rgba(241, 70, 104, 1);
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.125);
}

.scrollbar::-webkit-scrollbar {
    @apply w-2;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-sonolus-ui-button-normal;
    @apply hover:bg-sonolus-ui-button-highlighted;
    @apply active:bg-sonolus-ui-button-pressed;
}

.icon {
    @apply w-4;
    @apply h-4;
    @apply fill-current;
}

.clickable {
    @apply transition-colors;
    @apply duration-200;
    @apply bg-sonolus-ui-button-normal;
    @apply hover:bg-sonolus-ui-button-highlighted;
    @apply active:bg-sonolus-ui-button-pressed;
    @apply disabled:bg-transparent;
    @apply disabled:text-sonolus-ui-text-disabled;
    @apply disabled:cursor-not-allowed;
    @apply placeholder-sonolus-ui-text-disabled;
}

.transparent-clickable {
    @apply transition-colors;
    @apply duration-200;
    @apply hover:bg-sonolus-ui-button-highlighted;
    @apply active:bg-sonolus-ui-button-pressed;
    @apply disabled:bg-transparent;
    @apply disabled:text-sonolus-ui-text-disabled;
    @apply disabled:cursor-not-allowed;
    @apply placeholder-sonolus-ui-text-disabled;
}
